In [1]:
import numpy as np
import pandas as pd

In [4]:
#QN1 

# Creating movie data
movies_data = {
    "Movie Name": ["Dangal", "Inception", "Interstellar", "Zindagi Na Milegi Dobara", "Parasite",
                   "Avengers: Endgame", "3 Idiots", "Titanic", "Sholay", "The Dark Knight"],
    "Language": ["Hindi", "English", "English", "Hindi", "Korean", "English", "Hindi", "English", "Hindi", "English"],
    "Genre": ["Drama", "Sci-Fi", "Sci-Fi", "Comedy", "Thriller", "Action", "Comedy", "Romance", "Action", "Action"],
    "Rating": [8.4, 8.8, 8.6, 8.2, 8.6, 8.4, 8.4, 7.8, 8.2, 9.0],
    "Review": ["Inspiring", "Mind-bending", "Thought-provoking", "Feel-good", "Masterpiece", 
               "Epic", "Entertaining", "Emotional", "Classic", "Legendary"]
}

In [5]:
# Creating and saving the CSV file
df = pd.DataFrame(movies_data)
df.to_csv("Movies.csv", index=False)
print("Movies.csv file created successfully.")

Movies.csv file created successfully.

In [6]:
# Reading the CSV file into a DataFrame
df = pd.read_csv("Movies.csv")

In [7]:
# Finding the movie with the highest rating
highest_rated_movie = df.loc[df["Rating"].idxmax()]
print("\nMovie with the highest rating:")
print(highest_rated_movie)

Movie with the highest rating:
Movie Name    The Dark Knight
Language              English
Genre                  Action
Rating                    9.0
Review              Legendary
Name: 9, dtype: object

In [8]:
# Extracting all Hindi movies and saving them to 'HindiMovies.csv'
hindi_movies = df[df["Language"] == "Hindi"]
hindi_movies.to_csv("HindiMovies.csv", index=False)
print("\nHindiMovies.csv file created successfully.")

HindiMovies.csv file created successfully.

In [10]:
#QN2
#a.Create a table with the 5 number summary of all the numeric attributes. 
import pandas as pd
import numpy as np

path_to_cereals = "Cereals.csv"
cereal_data = pd.read_csv(path_to_cereals)
cereal_data

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100NaturalBran,Q,C,120,3,5,15,2.0,8,8,135,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7,5,320,25,3,1.0,0.33,59.425505
2,All-BranwithExtraFiber,K,C,50,4,0,140,14.0,8,0,330,25,3,1.0,0.50,93.704912
3,AlmondDelight,R,C,110,2,2,200,1.0,14,8,?,25,3,1.0,0.75,34.384843
4,AppleCinnamonCheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21,3,60,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13,12,25,25,2,1.0,1.00,27.753301
73,WheatChex,R,C,100,3,1,230,3.0,17,3,115,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17,3,110,25,1,1.0,1.00,51.592193
75,WheatiesHoneyGold,G,C,110,2,1,200,1.0,16,8,60,25,1,1.0,0.75,36.187559

In [11]:

#b. For each of the numeric attributes identify and replace all missing data with the arithmetic mean of the attribute. 
cereal_data.describe().loc[['min', '25%', '50%', '75%', 'max']]

,calories,protein,fat,sodium,fiber,vitamins,shelf,weight,cups,rating
min,50.0,1.0,0.0,0.0,0.00,0.0,1.0,0.5,0.25,18.042851
25%,100.0,2.0,0.0,132.5,0.75,25.0,1.0,1.0,0.67,32.932466
50%,110.0,2.5,1.0,180.0,1.75,25.0,2.0,1.0,0.75,40.253086
75%,110.0,3.0,2.0,212.5,3.00,25.0,3.0,1.0,1.00,50.780847
max,160.0,6.0,5.0,320.0,14.00,100.0,3.0,1.5,1.50,93.704912

In [12]:
#Replacing the missing data with the mean of the attribute
cereal_data = cereal_data.replace('?', np.nan)
cereal_data

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100NaturalBran,Q,C,120,3,5,15,2.0,8,8,135,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7,5,320,25,3,1.0,0.33,59.425505
2,All-BranwithExtraFiber,K,C,50,4,0,140,14.0,8,0,330,25,3,1.0,0.50,93.704912
3,AlmondDelight,R,C,110,2,2,200,1.0,14,8,NaN,25,3,1.0,0.75,34.384843
4,AppleCinnamonCheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21,3,60,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13,12,25,25,2,1.0,1.00,27.753301
73,WheatChex,R,C,100,3,1,230,3.0,17,3,115,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17,3,110,25,1,1.0,1.00,51.592193
75,WheatiesHoneyGold,G,C,110,2,1,200,1.0,16,8,60,25,1,1.0,0.75,36.187559

In [13]:
#c. Create a table with the 5 number summary of all the numeric attributes after treating missing values.
#d.For each numeric attribute,identify and replace all noisy data with the median of attribute.  
#e. Create a table with the 5 number summary of all the numeric attributes after treating noisy values.
l = ['carbo', 'sugars', 'potass']
cereal_data[l] = cereal_data[l].astype('float64')
print(cereal_data.dtypes)
cereal_data.describe().loc[['min', '25%', '50%', '75%', 'max']]

name         object
mfr          object
type         object
calories      int64
protein       int64
fat           int64
sodium        int64
fiber       float64
carbo       float64
sugars      float64
potass      float64
vitamins      int64
shelf         int64
weight      float64
cups        float64
rating      float64
dtype: object

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
min,50.0,1.0,0.0,0.0,0.00,7.0,0.0,15.00,0.0,1.0,0.5,0.25,18.042851
25%,100.0,2.0,0.0,132.5,0.75,12.0,3.0,41.25,25.0,1.0,1.0,0.67,32.932466
50%,110.0,2.5,1.0,180.0,1.75,15.0,7.0,90.00,25.0,2.0,1.0,0.75,40.253086
75%,110.0,3.0,2.0,212.5,3.00,17.0,11.0,120.00,25.0,3.0,1.0,1.00,50.780847
max,160.0,6.0,5.0,320.0,14.00,23.0,15.0,330.00,100.0,3.0,1.5,1.50,93.704912

In [14]:
numeric_columns = ['protein', 'fat', 'sodium', 'fiber', 'carbo', 'sugars', 'potass', 'vitamins']
cereal_data[numeric_columns] = cereal_data[numeric_columns].apply(lambda x: x.fillna(x.mean()))
cereal_data

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100NaturalBran,Q,C,120,3,5,15,2.0,8.0,8.0,135.000000,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.000000,25,3,1.0,0.33,59.425505
2,All-BranwithExtraFiber,K,C,50,4,0,140,14.0,8.0,0.0,330.000000,25,3,1.0,0.50,93.704912
3,AlmondDelight,R,C,110,2,2,200,1.0,14.0,8.0,96.216216,25,3,1.0,0.75,34.384843
4,AppleCinnamonCheerios,G,C,110,2,2,180,1.5,10.5,10.0,70.000000,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21.0,3.0,60.000000,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13.0,12.0,25.000000,25,2,1.0,1.00,27.753301
73,WheatChex,R,C,100,3,1,230,3.0,17.0,3.0,115.000000,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17.0,3.0,110.000000,25,1,1.0,1.00,51.592193
75,WheatiesHoneyGold,G,C,110,2,1,200,1.0,16.0,8.0,60.000000,25,1,1.0,0.75,36.187559