# DAVLAB
#Btech cse stream
## Name : RIJAN_CA_240962035
#Roll no:61
# Week-10&11 Excercise

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv("transaction_data.csv")
df

,Transaction ID,Sender Account ID,Receiver Account ID,Transaction Amount,Transaction Type,Timestamp,Transaction Status,Fraud Flag,Geolocation (Latitude/Longitude),Device Used
0,TXN9520068950,ACC14994,ACC16656,495.90,Deposit,1/17/2025 10:14,Failed,True,"34.0522 N, -74.006 W",Desktop
1,TXN9412011085,ACC58958,ACC32826,529.62,Withdrawal,1/17/2025 10:51,Success,False,"35.6895 N, -118.2437 W",Mobile
2,TXN4407425052,ACC56321,ACC92481,862.47,Withdrawal,1/17/2025 10:50,Failed,False,"48.8566 N, 2.3522 W",Mobile
3,TXN2214150284,ACC48650,ACC76457,1129.88,Transfer,1/17/2025 10:56,Success,True,"34.0522 N, -74.006 W",Mobile
4,TXN4247571145,ACC60921,ACC11419,933.24,Deposit,1/17/2025 10:25,Success,True,"55.7558 N, 37.6173 W",Mobile
...,...,...,...,...,...,...,...,...,...,...
995,TXN7395336359,ACC79886,ACC14903,1340.76,Transfer,1/17/2025 10:49,Success,False,"35.6895 N, -118.2437 W",Mobile
996,TXN2215717837,ACC95972,ACC50750,483.36,Withdrawal,1/17/2025 11:00,Failed,True,"55.7558 N, 37.6173 W",Mobile
997,TXN1676848215,ACC95938,ACC18507,199.81,Withdrawal,1/17/2025 10:54,Success,False,"34.0522 N, 139.6917 W",Desktop
998,TXN2479413280,ACC76523,ACC95234,1341.86,Transfer,1/17/2025 10:59,Success,True,"51.5074 N, 139.6917 W",Mobile
999,TXN3992032184,ACC16789,ACC21980,495.36,Transfer,1/17/2025 10:02,Failed,False,"55.7558 N, -74.006 W",Mobile

In [6]:
# 1. Data Exploration and Loading
def explore_data(df):
    print("Data Exploration:")
    print("Shape:", df.shape)
    print("Info:", df.info())
    print("Describe:", df.describe())
    print("Head:", df.head())
    print("Missing Values:", df.isnull().sum())


explore_data(df)

Data Exploration:
Shape: (1000, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Transaction ID                    1000 non-null   object
 1   Sender Account ID                 1000 non-null   object
 2   Receiver Account ID               1000 non-null   object
 3   Transaction Amount                1000 non-null   float64
 4   Transaction Type                  1000 non-null   object
 5   Timestamp                         1000 non-null   object
 6   Transaction Status                1000 non-null   object
 7   Fraud Flag                        1000 non-null   bool
 8   Geolocation (Latitude/Longitude)  1000 non-null   object
 9   Device Used                       1000 non-null   object
dtypes: bool(1), float64(1), object(8)
memory usage: 71.4+ KB
Info: None
Describe:        Transaction Amount
count          1000.00000
mean            771.16529
std             411.01925
min              51.89000
25%             423.34750
50%             761.65500
75%            1122.67250
max            1497.76000
Head:   Transaction ID Sender Account ID Receiver Account ID  Transaction Amount  \
0  TXN9520068950          ACC14994            ACC16656              495.90
1  TXN9412011085          ACC58958            ACC32826              529.62
2  TXN4407425052          ACC56321            ACC92481              862.47
3  TXN2214150284          ACC48650            ACC76457             1129.88
4  TXN4247571145          ACC60921            ACC11419              933.24

  Transaction Type        Timestamp Transaction Status  Fraud Flag  \
0          Deposit  1/17/2025 10:14             Failed        True
1       Withdrawal  1/17/2025 10:51            Success       False
2       Withdrawal  1/17/2025 10:50             Failed       False
3         Transfer  1/17/2025 10:56            Success        True
4          Deposit  1/17/2025 10:25            Success        True

  Geolocation (Latitude/Longitude) Device Used
0             34.0522 N, -74.006 W     Desktop
1           35.6895 N, -118.2437 W      Mobile
2              48.8566 N, 2.3522 W      Mobile
3             34.0522 N, -74.006 W      Mobile
4             55.7558 N, 37.6173 W      Mobile
Missing Values: Transaction ID                      0
Sender Account ID                   0
Receiver Account ID                 0
Transaction Amount                  0
Transaction Type                    0
Timestamp                           0
Transaction Status                  0
Fraud Flag                          0
Geolocation (Latitude/Longitude)    0
Device Used                         0
dtype: int64

In [7]:
# 2. Data Cleaning
def clean_data(df):
    print("\nData Cleaning:")
    #Handle missing values (filling NaN in 'Device Used' with 'Unknown')
    df['Device Used'] = df['Device Used'].fillna('Unknown')

    #Handle outliers in Transaction Amount (remove values beyond 3 std)
    mean_amount = df['Transaction Amount'].mean()
    std_amount = df['Transaction Amount'].std()
    df = df[(df['Transaction Amount'] >= mean_amount - 3*std_amount) &
            (df['Transaction Amount'] <= mean_amount + 3*std_amount)]

    return df

df_cleaned = clean_data(df.copy()) # Clean a copy to compare
df_cleaned

Data Cleaning:

,Transaction ID,Sender Account ID,Receiver Account ID,Transaction Amount,Transaction Type,Timestamp,Transaction Status,Fraud Flag,Geolocation (Latitude/Longitude),Device Used
0,TXN9520068950,ACC14994,ACC16656,495.90,Deposit,1/17/2025 10:14,Failed,True,"34.0522 N, -74.006 W",Desktop
1,TXN9412011085,ACC58958,ACC32826,529.62,Withdrawal,1/17/2025 10:51,Success,False,"35.6895 N, -118.2437 W",Mobile
2,TXN4407425052,ACC56321,ACC92481,862.47,Withdrawal,1/17/2025 10:50,Failed,False,"48.8566 N, 2.3522 W",Mobile
3,TXN2214150284,ACC48650,ACC76457,1129.88,Transfer,1/17/2025 10:56,Success,True,"34.0522 N, -74.006 W",Mobile
4,TXN4247571145,ACC60921,ACC11419,933.24,Deposit,1/17/2025 10:25,Success,True,"55.7558 N, 37.6173 W",Mobile
...,...,...,...,...,...,...,...,...,...,...
995,TXN7395336359,ACC79886,ACC14903,1340.76,Transfer,1/17/2025 10:49,Success,False,"35.6895 N, -118.2437 W",Mobile
996,TXN2215717837,ACC95972,ACC50750,483.36,Withdrawal,1/17/2025 11:00,Failed,True,"55.7558 N, 37.6173 W",Mobile
997,TXN1676848215,ACC95938,ACC18507,199.81,Withdrawal,1/17/2025 10:54,Success,False,"34.0522 N, 139.6917 W",Desktop
998,TXN2479413280,ACC76523,ACC95234,1341.86,Transfer,1/17/2025 10:59,Success,True,"51.5074 N, 139.6917 W",Mobile
999,TXN3992032184,ACC16789,ACC21980,495.36,Transfer,1/17/2025 10:02,Failed,False,"55.7558 N, -74.006 W",Mobile

In [8]:
# 3. Data Summarization
def summarize_data(df_before, df_after):
    print("\nData Summary Before Cleaning:")
    print(df_before.describe())

    print("\nData Summary After Cleaning:")
    print(df_after.describe())

summarize_data(df, df_cleaned)

Data Summary Before Cleaning:
       Transaction Amount
count          1000.00000
mean            771.16529
std             411.01925
min              51.89000
25%             423.34750
50%             761.65500
75%            1122.67250
max            1497.76000

Data Summary After Cleaning:
       Transaction Amount
count          1000.00000
mean            771.16529
std             411.01925
min              51.89000
25%             423.34750
50%             761.65500
75%            1122.67250
max            1497.76000