In [3]:
import numpy as np
import pandas as pd

In [8]:
#QN1

temp=[21,22,21,22,22,21,21]#initialize the temperature for a week
days=["sunday","monday","tuesday","wednesday","thursday","friday","saturday"] # initialize the days
ser_temp = pd.Series(temp,index=days) # Make above data into series
print("The temperature of this week is :\n",ser_temp,)  #print days and its temperature

The temperature of this week is :
 sunday       21
monday       22
tuesday      21
wednesday    22
thursday     22
friday       21
saturday     21
dtype: int64

In [9]:
print("The average temperature is ",np.mean(ser_temp)) #print average (mean) temperature

The average temperature is  21.428571428571427

In [10]:
print("The Maximum Temperture",np.max(ser_temp)) #print maximum temperature

The Maximum Temperture 22

In [11]:
print("The Minimum Temperture",np.min(ser_temp))   #print mnimum temperature

The Minimum Temperture 21

In [12]:
print("print temp above 21°C\n",ser_temp[ser_temp>21]) # printing temp an its days greater than 21

print temp above 21°C
 monday       22
wednesday    22
thursday     22
dtype: int64

In [13]:
print("Converted temp list from °C to °F :\n",ser_temp+30) # convert °C to °F

Converted temp list from °C to °F :
 sunday       51
monday       52
tuesday      51
wednesday    52
thursday     52
friday       51
saturday     51
dtype: int64

In [14]:
print("Print temperature above average:\n ",ser_temp[ser_temp>np.mean(ser_temp)]) #print temp above avegare temp

Print temperature above average:
  monday       22
wednesday    22
thursday     22
dtype: int64

In [16]:
#QN2

#making a dict data and eeping value of name,rollno,genger,mark1,mark2,mark3
data={"Roll No":[1,2,3,4,5,6,7,8,9,10],
"Name":["Aanya","Amrit","Bhavya","Baljeet","Carina","Chahat","Diya","Drishti","Ravneet","Ramandeep"],
"Gender":["Female","Male","Female","Male","Female","Female","Female","Female","Male","Male"],
"Marks1":[90,58,46,63,67,37,96,85,74,54],
"Marks2":[93,35,57,36,89,58,94,64,76,36],
"Marks3":[84,47,37,96,85,35,84,85,85,85]}

df=pd.DataFrame(data)

In [17]:
print("The lowest marks of marks1:", np.min(df["Marks1"]))   # Lowest marks of marks1
print("The Highest marks of marks2:", np.max(df["Marks2"]))  # Highest marks of marks2
print("The Average marks of marks3:", np.mean(df["Marks3"]))  # Average marks of marks3

The lowest marks of marks1: 37
The Highest marks of marks2: 94
The Average marks of marks3: 72.3

In [18]:
df["Total Marks"] = df["Marks1"] + df["Marks2"] + df["Marks3"]
print(df)

   Roll No       Name  Gender  Marks1  Marks2  Marks3  Total Marks
0        1      Aanya  Female      90      93      84          267
1        2      Amrit    Male      58      35      47          140
2        3     Bhavya  Female      46      57      37          140
3        4    Baljeet    Male      63      36      96          195
4        5     Carina  Female      67      89      85          241
5        6     Chahat  Female      37      58      35          130
6        7       Diya  Female      96      94      84          274
7        8    Drishti  Female      85      64      85          234
8        9    Ravneet    Male      74      76      85          235
9       10  Ramandeep    Male      54      36      85          175

In [19]:
print("Students who failed in Mark2 (marks < 40):\n" ,df[df["Marks2"] < 40] ) # Filtering students with marks in marks2 less than 40

Students who failed in Mark2 (marks < 40):
    Roll No       Name Gender  Marks1  Marks2  Marks3  Total Marks
1        2      Amrit   Male      58      35      47          140
3        4    Baljeet   Male      63      36      96          195
9       10  Ramandeep   Male      54      36      85          175

In [20]:
df["Average"] = df[["Marks1", "Marks2", "Marks3"]].mean(axis=1)

# Find the student with the highest average
highest_avg_student = df.loc[df["Average"].idxmax()]

# Display the result
print("Student with highest average marks:")
print(highest_avg_student[["Name", "Roll No", "Average"]])

Student with highest average marks:
Name            Diya
Roll No            7
Average    91.333333
Name: 6, dtype: object